	
	.item {
  background-image:
    linear-gradient(to right, #00c758e6, #05df7280), url(/assets/images/home-slider-img.png);
  background-size: cover;
  background-position: center;
}
.mySwiper::part(button-next),
.mySwiper::part(button-prev)
{
width:30px;
height: 30px;
background-color: #fff;
border-radius: 50%;
padding: 10px;
color: var(--color-main-color);
margin-inline: 15px;
box-shadow: 0 0 10px rgba(0,0,0,0.317);
}
.mySwiper::part(bullet-active)
{
width:32px;
height: 12px;
background-color: #fff;
border-radius: 8px;
padding: 2px 8px;
}
.mySwiper::part(bullet)
{
width:16px;
height: 16px;
background-color: #fff;
border-radius: 50%;
}