<div class="cp-wrapper">

  <div class="cp-container">

    <div class="cp-card">


      <!-- ==================================================
           HEADER
      =================================================== -->

      <div class="cp-header">

        <div
          class="cp-icon"
          aria-hidden="true"
        >
          <i class="fa-solid fa-lock"></i>
        </div>


        <div>

          <h1>
            {{ CHANGE_PASSWORD.TITLE }}
          </h1>

          <p>
            {{ CHANGE_PASSWORD.DESCRIPTION }}
          </p>

        </div>

      </div>



      <!-- ==================================================
           FORM
      =================================================== -->

      <form
        class="cp-form"
        [formGroup]="changePasswordForm"
        (ngSubmit)="submit()"
        novalidate
      >


        <!-- ==================================================
             CURRENT PASSWORD
        =================================================== -->

        <div class="cp-field">

          <label for="currentPassword">
            {{ CHANGE_PASSWORD.CURRENT_PASSWORD }}
          </label>


          <div class="cp-input-wrapper">

            <input
              [type]="showCurrentPassword ? 'text' : 'password'"
              id="currentPassword"
              formControlName="currentPassword"
              autocomplete="current-password"
              placeholder="Enter your current password"
            />


            <button
              class="cp-password-toggle"
              type="button"
              (click)="showCurrentPassword = !showCurrentPassword"
              [attr.aria-label]="
                showCurrentPassword
                  ? CHANGE_PASSWORD.HIDE_CURRENT_PASSWORD
                  : CHANGE_PASSWORD.SHOW_CURRENT_PASSWORD
              "
            >

              <i
                [class]="
                  showCurrentPassword
                    ? 'fa-regular fa-eye-slash'
                    : 'fa-regular fa-eye'
                "
              ></i>

            </button>

          </div>


          @if (
            changePasswordForm.controls.currentPassword.touched &&
            changePasswordForm.controls.currentPassword.hasError('required')
          ) {

            <small class="cp-validation">

              {{ CHANGE_PASSWORD.CURRENT_PASSWORD_REQUIRED }}

            </small>

          }

        </div>



        <!-- ==================================================
             NEW PASSWORD
        =================================================== -->

        <div class="cp-field">

          <label for="newPassword">

            {{ CHANGE_PASSWORD.NEW_PASSWORD }}

          </label>


          <div class="cp-input-wrapper">

            <input
              [type]="showNewPassword ? 'text' : 'password'"
              id="newPassword"
              formControlName="newPassword"
              autocomplete="new-password"
              placeholder="Enter your new password"
            />


            <button
              class="cp-password-toggle"
              type="button"
              (click)="showNewPassword = !showNewPassword"
              [attr.aria-label]="
                showNewPassword
                  ? CHANGE_PASSWORD.HIDE_NEW_PASSWORD
                  : CHANGE_PASSWORD.SHOW_NEW_PASSWORD
              "
            >

              <i
                [class]="
                  showNewPassword
                    ? 'fa-regular fa-eye-slash'
                    : 'fa-regular fa-eye'
                "
              ></i>

            </button>

          </div>


          <small class="cp-help">

            Must be at least 8 characters

          </small>


          @if (
            changePasswordForm.controls.newPassword.touched
          ) {

            @if (
              changePasswordForm.controls.newPassword.hasError('required')
            ) {

              <small class="cp-validation">

                {{ CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED }}

              </small>

            }

            @else if (
              changePasswordForm.controls.newPassword.hasError('minlength')
            ) {

              <small class="cp-validation">

                {{ CHANGE_PASSWORD.NEW_PASSWORD_MIN_LENGTH }}

              </small>

            }

            @else if (
              changePasswordForm.controls.newPassword.hasError('pattern')
            ) {

              <small class="cp-validation">

                {{ CHANGE_PASSWORD.NEW_PASSWORD_PATTERN }}

              </small>

            }

            @else if (
              changePasswordForm.hasError('samePassword')
            ) {

              <small class="cp-validation">

                {{ CHANGE_PASSWORD.SAME_PASSWORD }}

              </small>

            }

          }

        </div>



        <!-- ==================================================
             CONFIRM PASSWORD
        =================================================== -->

        <div class="cp-field">

          <label for="confirmPassword">

            {{ CHANGE_PASSWORD.CONFIRM_NEW_PASSWORD }}

          </label>


          <div class="cp-input-wrapper">

            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              id="confirmPassword"
              formControlName="confirmPassword"
              autocomplete="new-password"
              placeholder="Confirm your new password"
            />


            <button
              class="cp-password-toggle"
              type="button"
              (click)="showConfirmPassword = !showConfirmPassword"
              [attr.aria-label]="
                showConfirmPassword
                  ? CHANGE_PASSWORD.HIDE_CONFIRM_PASSWORD
                  : CHANGE_PASSWORD.SHOW_CONFIRM_PASSWORD
              "
            >

              <i
                [class]="
                  showConfirmPassword
                    ? 'fa-regular fa-eye-slash'
                    : 'fa-regular fa-eye'
                "
              ></i>

            </button>

          </div>


          @if (
            changePasswordForm.controls.confirmPassword.touched
          ) {

            @if (
              changePasswordForm.controls.confirmPassword.hasError('required')
            ) {

              <small class="cp-validation">

                {{ CHANGE_PASSWORD.CONFIRM_PASSWORD_REQUIRED }}

              </small>

            }

            @else if (
              changePasswordForm.hasError('passwordMismatch')
            ) {

              <small class="cp-validation">

                {{ CHANGE_PASSWORD.PASSWORD_MISMATCH }}

              </small>

            }

          }

        </div>



        <!-- ==================================================
             SUCCESS MESSAGE
        =================================================== -->

        @if (successMessage) {

          <p
            class="cp-message cp-success"
            role="status"
          >

            <i class="fa-solid fa-circle-check"></i>

            {{ successMessage }}

          </p>

        }



        <!-- ==================================================
             ERROR MESSAGE
        =================================================== -->

        @if (errorMessage) {

          <p
            class="cp-message cp-error"
            role="alert"
          >

            <i class="fa-solid fa-circle-exclamation"></i>

            {{ errorMessage }}

          </p>

        }



        <!-- ==================================================
             SUBMIT
        =================================================== -->

        <div class="cp-actions">

          <button
            type="submit"
            class="cp-submit-btn"
            [disabled]="isSubmitting"
          >

            @if (isSubmitting) {

              <i class="fa-solid fa-spinner fa-spin"></i>

              {{ CHANGE_PASSWORD.UPDATING }}

            } @else {

              <i class="fa-solid fa-lock"></i>

              {{ CHANGE_PASSWORD.UPDATE_PASSWORD }}

            }

          </button>

        </div>


      </form>


    </div>

  </div>

</div>